# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# temp files
*~
*.swp
*.bak
*.new
*.org

# changcheng's script
#cc*.sh
cc*.py

*.img

tags
cscope.out
